:root {
  font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
