@import "./base.css";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
  position: relative;
  display: flex;
  gap: 1rem;
  bottom: 0.5rem;
}

.menu-container ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.menu-container li {
  margin-right: 1rem;
  list-style-type: none;
}

.menu-container a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.menu-container a:hover {
  cursor: pointer;
  color: #00bf63;;
}

@media screen and (max-wodth: 768px) {
  .menu-container {
    flex-direction: column;
    position: static;
  }
}